/* -----------------------------------------------
   Typography
----------------------------------------------- */

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-size: 100%;
  line-height: 1.5;
  font-weight: 300;
  color: $base-font-color;
  font-family: $base-font-family;
}

a {
}


// Filling in H1-H6 default styling will prep the CMS editor
h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

p {
  padding-bottom:15px;
  margin:0;
}

// Leave Lists blank if no custom styling is needed for default.
ul {
}
ol {
}

blockquote {
  border-left:5px solid $base-border;
  margin:20px 0;
  padding-left: 15px;
}

// Only display content to screen readers
// See: http://a11yproject.com/posts/how-to-hide-content/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}